body{
    margin:0;
    padding:0;
    background-color:black;
    background-repeat: no-repeat;
    overflow-x: scroll;
    overflow-y: hidden;
  }

p{
  position:absolute;
  z-index:1;
  color:white;
}
