body{
    margin:0;
    padding:0;
    background-color:black;
    background-repeat: no-repeat;
    z-index: 1;
  }

p{
  position:absolute;
  z-index:1;
  color:white;
}

#place{
  right:35%;
}
